.masterPage .sapMBarMiddle{
	height:10rem!important;
}

.masterPage .sapMBarPH{
	height:10rem!important;
}

.masterPage .list{
	top: 10rem!important;
}

.masterPage .sapMPageSubHeader{
	height: 10rem!important;
}